{% extends "base.html" %}

{% block title %}Help{% endblock %}

{% block content %}
<h2 class="text-3xl font-bold text-primary mb-6 text-center">Help</h2>

<div class="bg-white dark:bg-gray-800 rounded shadow p-6">
    <h3 class="text-2xl font-semibold text-secondary">Commands</h3>
    <ul class="list-disc list-inside mt-4 text-gray-600 dark:text-gray-300">
        <li><strong>/stats</strong> - server statistics.</li>
        <li><strong>/tpa</strong> - send the tpa to the player</li>
        <li><strong>/tpyes</strong> - accept tpa</li>
        <li><strong>/tpdeny</strong> - reject tpa</li>
        <li><strong>/w, /tell, /msg</strong> - write a message to the user</li>
        <li><strong>/r</strong> - reply to the user</li>
        <li><strong>/skin</strong> - install/change the skin</li>
        <li><strong>/sethome</strong> - set the house</li>
        <li><strong>/delhome</strong> - delete a house</li>
        <li><strong>/home</strong> - teleport home</li>
        <!-- Добавь другие команды по необходимости -->
    </ul>
</div>

<div class="mt-6 bg-white dark:bg-gray-800 rounded shadow p-6">
    <h3 class="text-2xl font-semibold text-secondary">About us</h3>
    <p class="mt-4 text-gray-600 dark:text-gray-300">
        Welcome to 2D2D.ORG!<br>

    </p>
</div>
{% endblock %}
